body {
	font-family: 'Lato', sans-serif;
	color: #788080;
}
h2, h3 {
	color: #4eb8aa;
	font-weight: 600;
}
.vertical-padding {
	padding: 50px 0;
}
#top {
	background-color: #65cbbe;
	background: url('../images/banner.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#navbar {
	background: white;
	margin-top: 40px;
}
#navbar .logo {
	padding: 10px 0;
	max-width: 400px;
}
#navbar ul.menu {
	margin-top: 10px;
	line-height: 80px;
	font-size: 18px;
	/*font-weight: 700;*/
}
#navbar .list-inline > li {
	padding: 0 20px;
}
#navbar ul.menu li a {
	color: #788080;
	text-decoration: none;
}
#navbar ul.menu li a.active {
	color: #4eb8aa;
}
#navbar ul.menu li a:hover {
	color: #4eb8aa;
}
#top h1 {
	color: white;
	text-shadow: 2px 1px 4px rgba(150, 150, 150, 1);
	font-size: 50px;
	line-height: 70px;
	padding: 30px 0 60px 0;
}
#social{
	margin-top: -30px;
	margin-bottom: 30px;
}
#content .form-control {
	border: 2px solid #4eb8aa;
}
#content .text {
	padding: 10px 0 50px 0;
	border-bottom: 1px solid lightgrey;
}
#content .text h2 {
	text-transform: uppercase;
	padding: 10px 0;
}
#content .text p {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
#content .sections {
	border-bottom: 1px solid lightgrey;
}
footer .footer-city{
	background: url('../images/footer.png') repeat-x;
	height: 335px;
	margin-bottom: -10px;
}
footer .copyright {
	background-color: #1abc9c;
	color: white;
	padding-top: 15px;
	font-size: 18px;
}
/*Functions*/
.inner-addon { 
    position: relative; 
    color: #4eb8aa
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }